<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_component/_head', {path:path,meta:data.meta['home'],})%>
    </head>
<body>
<%- include('./_component/_header',{path:path,}) %>

<main>
<section>
    <!-- container query sample -->
    <div class="weather-wrap">
        <dl class="weather">
            <div>
            <dt>Sunday</dt>
            <dd>
                <b>26째</b> 7째
            </dd>
            </div>
            <div>
            <dt>Monday</dt>
            <dd>
                <b>34째</b> 11째
            </dd>
            </div>
        </dl>
    </div>
    <!-- /container query sample -->
</section>
</main>

<%- include('./_component/_footer',{path:path,}) %>
</body>
</html>